@import url('https://fonts.googleapis.com/css2?family=Orelega+One&display=swap');

body {
  margin: 0;
  padding: 0;
  background-color: #939AAD;
  /* background: linear-gradient(to right bottom, #27282c, #35373e, #434651, #515665, #606779) fixed; */
}

.homePage {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
